
@media screen and (min-width: 52px) and (max-width: 689px) {
body {
		margin: 0;
	}

main {
	background-color: $bgcolor;
	padding: 8px;
	margin-top: -50px;
	border-radius: 30px 30px 0 0;
	position: relative;
}

.mainpicture img {
	width: 100%;
}

.maintitle {
	margin-left: -8px;
	position: relative;
	width: 100%;
	& i {
		position: absolute;
		top: 6px;
		right: 17px;
		font-size: 23px;
		& h2 {
			padding-left: 20px;
		}
	}
}

.fa-heart {
	transition: color 300ms ease-in;
}

.fa-heart:hover, .fa-heart:active {
	font-weight: bold;
	background-image: linear-gradient(#FF79DA, 45%,#9356DC);
	color: transparent;
	background-clip: text;
	-webkit-backgroung-clip: text;
}

.categorie {
	margin-bottom: 40px;
	margin-top: 40px;
	padding-left: 10px;
	&__ligne {
		border-bottom: rgb(153, 226, 208) solid;
		width: 13%;
		&__titre {
			font-size: 18px;
			font-weight: initial;
			margin-bottom: 2px;
		}
	}
}


.menu {
	display: flex;
    	background-color: white;
    	margin: 20px 10px 14px 0px;
    	border-radius: 10px;
    	@include boxshadow;
		animation: apparition 1s both .1s;
	&__description {
		width: 80%;
		padding-left: 10px;
		&__titre  {
			margin-top: 13px;
			margin-bottom: -13px;
			&__texte {
				font-weight: lighter;
    			margin-bottom: 10px;
				&__prix {
					@include textfont;
					font-weight: initial;
					font-size: 14px;
    				align-items: center;
    				display: flex;
    				padding-top: 28px;
					padding-left: 15px;
					}
				}
			}
		}
	}


	@keyframes apparition {
		0% {
			transform: translateY(0px);
			opacity: 0;
		}
	
		50% {
			transform: translateY(-2px);
			opacity: 0.5;
		}
	
		100% {
			transform: translateY(-3px);
			opacity: 1;
		}
	
	}
	
	.menu-delai-1 {
		animation: apparition 1s both .2s;
	}
	
	.menu-delai-2 {
		animation: apparition 1s both .3s;
	}
	
	.menu-delai-3 {
		animation: apparition 1s both .4s;
	}
	
	.menu-delai-4 {
		animation: apparition 1s both .5s;
	}
	
	.menu-delai-5 {
		animation: apparition 1s both .6s;
	}
	
	.menu-delai-6 {
		animation: apparition 1s both .7s;
	}
	
	.menu-delai-7 {
		animation: apparition 1s both .8s;
	}
	
	.menu-delai-8 {
		animation: apparition 1s both .9s;
	}

	.menu__check {
		opacity: 0;
	}
	
	.menu:hover .menu__check {
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(153, 226, 208);
		border-radius: 0px 8px 8px 0px;
		font-size: 25px;
		animation: validate 5s both;
		opacity: 1;
	}
	
	.fa-check-circle {
		font-size: 20px;
		padding-right: 5px;
		padding-left: 5px;
	}
	
	
	@keyframes validate {
	
		0%{
		  width: 10%;
		}
		25%{
			width: 20%;
		}
	}

#boutoncommander {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
	& button {
		@include bgcolor-gradient;
		color: white;
		border-radius: 30px;
		border: none;
		padding: 10px 40px 10px 40px;
		cursor: pointer;
		@include  boxshadow;
	}
}
}

@media screen and (min-width: 690px) and (max-width: 1068px) {

	body {
		margin: 0;
	}
	
	main {
		background-color: rgb(246, 246, 246);
		padding: 8px;
		margin-top: -50px;
		border-radius: 35px 35px 0 0;
		position: relative;
		margin-left: 50px;
		margin-right: 50px;
	}
	
	.mainpicture img {
		width: 100%;
		height: 20em;
		object-fit: cover;
	}
	
	.maintitle {
		text-align: center;
		padding-bottom: 10px;
		position: relative;
		width: 100%;
		& h2 {
			font-size: 30px;
			position: relative;
			margin-bottom: 8px;
			& i {
				font-size: 33px;
				cursor: pointer;
			}
		}
	}
	
	.fa-heart {
		transition: color 300ms ease-in;
	}
	
	.fa-heart:hover, .fa-heart:active {
		font-weight: bold;
		background-image: linear-gradient(#FF79DA, 45%,#9356DC);
		color: transparent;
		background-clip: text;
		-webkit-backgroung-clip: text;
	}
	
	
	.categorie {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
		margin-top: 40px;
		padding-left: 10px;
		&__ligne {
			border-bottom: rgb(153, 226, 208) solid;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;	
			&__titre {
				font-size: 18px;
				font-weight: initial;
				margin-bottom: 2px;
			}
		}
	}
	
	.menu {
		display: flex;
		background-color: white;
		margin: 20px 10px 14px 0px;
		border-radius: 10px;
		box-shadow: 2px 4px 7px lightgray;
		 animation: apparition 1s both .1s;
		&__description {
			width: 80%;
			padding-left: 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			&__titre {
				margin-top: 13px;
				margin-bottom: -13px;
				&__texte {
					font-weight: lighter;
					margin-bottom: 10px;
				}
			}
		}
	}
	
	@keyframes apparition {
		0% {
			transform: translateY(0px);
			opacity: 0;
		}
	
		50% {
			transform: translateY(-2px);
			opacity: 0.5;
		}
	
		100% {
			transform: translateY(-3px);
			opacity: 1;
		}
	
	}
	
	.menu-delai-1 {
		animation: apparition 1s both .2s;
	}
	
	.menu-delai-2 {
		animation: apparition 1s both .3s;
	}
	
	.menu-delai-3 {
		animation: apparition 1s both .4s;
	}
	
	.menu-delai-4 {
		animation: apparition 1s both .5s;
	}
	
	.menu-delai-5 {
		animation: apparition 1s both .6s;
	}
	
	.menu-delai-6 {
		animation: apparition 1s both .7s;
	}
	
	.menu-delai-7 {
		animation: apparition 1s both .8s;
	}
	
	.menu-delai-8 {
		animation: apparition 1s both .9s;
	}
	
	.menu__prix {
		font-family: 'Roboto', sans-serif;
		font-weight: initial;
		font-size: 14px;
		align-items: center;
		display: flex;
		padding-top: 28px;
		padding-left: 15px;
	}
	
	.menu__check {
		opacity: 0;
	}
	
	.menu:hover .menu__check {
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(153, 226, 208);
		border-radius: 0px 8px 8px 0px;
		font-size: 25px;
		animation: validate 5s both;
		opacity: 1;
	}
	
	.fa-check-circle {
		font-size: 20px;
		padding-right: 5px;
		padding-left: 5px;
	}
	
	
	@keyframes validate {
	
		0%{
		  width: 10%;
		}
		25%{
			width: 20%;
		}
	}
	
	
	#boutoncommander {
		display: flex;
		justify-content: center;
		padding-bottom: 40px;
	}
	
	#boutoncommander button {
		background: linear-gradient(#FF79DA, 45%,#9356DC);
		color: white;
		border-radius: 30px;
		border: none;
		padding: 10px 40px 10px 40px;
		box-shadow: 2px 4px 7px lightgray;
		cursor: pointer;
	}
	
	button:hover{
		filter: brightness(1.1);
		box-shadow: 2px 4px 7px gray;
	}
}

@media screen and (min-width: 1069px) and (max-width: 5000px) {
	body {
		margin: 0;
	}
	
	main {
		background-color: rgb(246, 246, 246);
		padding: 8px;
		border-radius: 35px 35px 0 0;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		max-width: 1069px;
		margin-top: -90px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.conteneurmenus {
		display: flex;
		width: 100%;
		margin-top: -40px;
	}
	
	.categorie {
		width: 35%;
	}
	
	.mainpicture img {
		width: 100%;
		height: 20em;
		object-fit: cover;
	}
	
	.maintitle {
		width: 360px;
		margin-left: -8px;
		position: relative;
		width: 100%;
		& i {
			position: absolute;
			top: 26px;
			right: 17px;
			font-size: 25px;
			cursor: pointer;
			& h2 {
				padding-left: 20px;
			}
		}
	}
		
	
	.fa-heart {
		transition: color 300ms ease-in;
	}
	
	.fa-heart:hover, .fa-heart:active {
		font-weight: bold;
		background-image: linear-gradient(#FF79DA, 45%,#9356DC);
		color: transparent;
		background-clip: text;
		-webkit-backgroung-clip: text;
	}
	
	.categorie {
		margin-bottom: 40px;
		margin-top: 40px;
		padding-left: 10px;
		&__ligne {
			border-bottom: rgb(153, 226, 208) solid;
			width: 13%;
			&__titre {
				font-size: 18px;
				font-weight: initial;
				margin-bottom: 2px;
			}
		}
	}
	
	.menu {
		display: flex;
		background-color: white;
		margin: 20px 10px 14px 0px;
		border-radius: 10px;
		box-shadow: 2px 4px 7px lightgray;
		animation: apparition 1s both .1s;
		&__description {
			width: 80%;
			padding-left: 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			&__titre {
				margin-top: 13px;
				margin-bottom: -13px;
				&__texte {
					font-weight: lighter;
					margin-bottom: 10px;
				}
			}
		}
	}
	
	@keyframes apparition {
		0% {
			transform: translateY(0px);
			opacity: 0;
		}
	
		50% {
			transform: translateY(-2px);
			opacity: 0.5;
		}
	
		100% {
			transform: translateY(-3px);
			opacity: 1;
		}
	
	}
	
	.menu-delai-1 {
		animation: apparition 1s both .2s;
	}
	
	.menu-delai-2 {
		animation: apparition 1s both .3s;
	}
	
	.menu-delai-3 {
		animation: apparition 1s both .4s;
	}
	
	.menu-delai-4 {
		animation: apparition 1s both .5s;
	}
	
	.menu-delai-5 {
		animation: apparition 1s both .6s;
	}
	
	.menu-delai-6 {
		animation: apparition 1s both .7s;
	}
	
	.menu-delai-7 {
		animation: apparition 1s both .8s;
	}
	
	.menu-delai-8 {
		animation: apparition 1s both .9s;
	}
	
	
	.menu__prix {
		font-family: 'Roboto', sans-serif;
		font-weight: initial;
		font-size: 14px;
		align-items: center;
		display: flex;
		padding-top: 28px;
		padding-left: 15px;
	}
	
	.menu__check {
		opacity: 0;
	}
	
	.menu:hover .menu__check {
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(153, 226, 208);
		border-radius: 0px 8px 8px 0px;
		font-size: 25px;
		animation: validate 5s both;
		opacity: 1;
	}
	
	.fa-check-circle {
		font-size: 20px;
		padding-right: 5px;
		padding-left: 5px;
	}
	
	
	@keyframes validate {
	
		0%{
		  width: 10%;
		}
		25%{
			width: 20%;
		}
	}
	
	#boutoncommander {
		display: flex;
		justify-content: center;
		padding-bottom: 40px;
		width: 100%;
	}
	
	#boutoncommander button {
		background: linear-gradient(#FF79DA, 45%,#9356DC);
		color: white;
		border-radius: 30px;
		border: none;
		padding: 10px 40px 10px 40px;
		box-shadow: 2px 4px 7px lightgray;
		cursor: pointer;
	}
}
	